<div class="has-text-centered">
  <a href="http://sistemas.na.ifms.edu.br/sigoe.na" class="button is-success ">Sigoe - Nova Andradina</a>
</div>
<br />
<div class="has-text-centered">
  <a href="http://sistemas.na.ifms.edu.br/sigoe.nv" class="button is-success">Sigoe - Naviraí</a>
</div>
