<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>Catálogo de Sistema - IFMS</title>
    <link rel="stylesheet" href="/css/bulma.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <header class="content">
      <img src="/image/logo_ifms_v.jpeg" width="200" alt="">
      <h2 class="title is-5">Seja bem vindo(a) ao Catálogo do SIGOE
        <div> Sistema para o gerenciamento de ocorrências escolares<div>
      </h2>
      <div>Selecione o <i>campus</i> abaixo para acessar o sistema</div>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <h1>© 2020 SIGOE | Desenvolvimento: IFMS/NV/NADS</h1>
    </footer>
  </body>
</html>
